@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    overflow: hidden;
}

html{
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}

body{
    background-color: hsl(212, 45%, 89%);
}

.flex-container{
    width: 250px;
    height: 380px;
    padding: 10px;
    border-radius: 15px;
    background-color: hsl(0, 0%, 100%);
    margin: 90px auto;
}

.flex-container img{
    width: 100%;
    border-radius: 15px;
}

.flex-container h3{
    text-align: center;
    padding: 10px;
    font-weight: 700;
    font-size: 16px;
}

.flex-container p{
    color: hsl(220, 15%, 55%);
    text-align: center;
    padding: 0 10px;
    font-size: 13px;
}


